@charset "UTF-8";
*,
*::before,
*::after {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

.container {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 20px;
}

p {
  margin-bottom: 1rem;
}

section {
  margin-bottom: 2rem;
}

/* 03.變數_________________________________________________________________*/
/* CSS原生變數*/
:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --waring: #ffc107;
  --danger: #dc3545;
}

.foo {
  width: 100px;
  color: green;
}

h1 {
  background: -webkit-gradient(linear, left bottom, left top, from(#000032), color-stop(50%, #0032c8), to(blue));
  background: linear-gradient(0deg, #000032 0%, #0032c8 50%, blue 100%);
  color: #ffffff;
  border: 5px solid #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

.foo2 {
  color: #000;
}

/* 04.流程控制_________________________________________________________________*/
.mybox {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* @if~ @else if ~ @else */
  background-color: red;
  font-style: italic;
  -webkit-box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.5);
  /* 使用 and 兩運算式條件成立 */
  color: white !important;
  /* 使用 or 兩運算式其中之一成立，不能使用|| */
  font-size: 50px;
  font-weight: bolder;
  /* 使用 not 反轉運算式的結果 */
  border: 10px dashed yellow;
  /* 內建函式，類似三元運算子，因為函式，因此if沒有@ */
  outline: 10px solid green;
}

/*@for 迴圈有兩種through 與 to*/
/* @for ... through*/
.through-1 {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #aaa;
}

.through-2 {
  width: 100px;
  height: 100px;
  display: inline-block;
  background: #aaa;
}

.through-3 {
  width: 150px;
  height: 150px;
  display: inline-block;
  background: #aaa;
}

/* @for ... to*/
.to-1 {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: #aaa;
}

.to-2 {
  width: 100px;
  height: 100px;
  display: inline-block;
  background: #aaa;
}

/* 05. 嵌套巢狀_________________________________________________________________*/
#section05 p {
  border-bottom: 1px solid #000;
}

#section05 .menu {
  margin-top: 2rem;
  padding: 0;
  font-size: 0;
}

#section05 .menu li {
  display: inline-block;
  font-size: 1rem;
  width: 100px;
  text-align: center;
  /* 不用& + li，也可以這樣寫 */
}

#section05 .menu li a {
  display: block;
  background: black;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

#section05 .menu li a:hover {
  color: yellow;
  background: darkmagenta;
}

#section05 .menu li + li {
  border-left: 1px solid yellow;
}

#section05 .menu li li + li {
  border-left: 1px solid white;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* BEM巢狀寫法，使用& */
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__item {
  color: red;
  padding: 1rem;
  border: 1px solid #333;
  text-decoration: none;
}

.sidebar__item--active {
  color: yellow;
  background-color: black;
}

.sidebar__item:hover {
  color: yellow;
  background-color: black;
}

#exercise .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

#exercise .col {
  margin: 5px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#exercise .col:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

/* 06. Extend(繼承)%____________________________________*/
.extend, .box4, .box5 {
  width: 100px;
  height: 100px;
  float: left;
}

.box1, .box2, .box3 {
  width: 50px;
  height: 50px;
  float: left;
}

.box1 {
  background: green;
}

.box2 {
  background: red;
}

.box3 {
  background: blue;
}

.box4 {
  background: yellow;
}

.box5 {
  background: cyan;
}

/* 07. 計算____________________________________*/
.box4 {
  background: #000;
  /* 加法 */
  width: 100px;
  width: 100px;
  height: 100px;
  /* 減法 */
  width: 50px;
  width: 50px;
  height: 50px;
  /* 乘法 */
  width: 100px;
  height: 100px;
  /* 除法 */
  width: 50px;
  /*變數不需要括號*/
  height: 50px;
  /* 需要注意，分子分母都有單位，單位會被消除*/
  line-height: 1;
  /* 餘數 */
  margin-top: 20px;
  /* calc 函式使用變數時，使用插值語法*/
  margin-bottom: calc(20px +1vw);
}

/* 08. 函式____________________________________*/
.funcbox {
  width: 100px;
  height: 100px;
  color: white;
  font-size: 60px;
  width: 200px;
  height: 100px;
  background-color: #dc3545;
}

.rem {
  font-size: 1rem;
  padding: 3rem;
}

#section08 .container p {
  font-size: 18px;
  line-height: 27px;
}

#section08 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section08 .row .col {
  border: 1px solid #333;
  padding: 1%;
  margin: 1% 0;
  width: 33.33333%;
  background: #e6e6e6;
  color: #1a1a1a;
  color: #ff8080;
  color: navy;
}

/* 09. Mixins__________________________________*/
.mixinTry {
  width: 100px;
  height: 100px;
  background: #333;
}

.boxflex {
  width: 100px;
  height: 100px;
  border: 5px solid #333;
  outline: 10px dashed pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  line-height: 1.5;
  padding: 0.3rem 0.75rem;
  margin: 0 0.2rem;
  border-radius: 0.25rem;
}

.btn-primary {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0062cc;
}

.btn-success {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
  background-color: #28a745;
}

.btn-success:hover {
  background-color: #1e7e34;
}

.btn-danger {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #bd2130;
}

.btn-dark {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
  background-color: #000;
}

.btn-dark:hover {
  background-color: #1a1a1a;
}

/* @mixin 的其餘參數，可以使用...表示 */
.box-shadow {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 0 10px blue, 0 0 20px red;
          box-shadow: 0 0 10px blue, 0 0 20px red;
  text-shadow: 0 0 20px red;
}

.b1, .b2, .b3, .b4, .b5 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

.b1 {
  background: #0f356b;
}

.b2 {
  background: #8517c2;
}

.b3 {
  background: #a338ae;
}

.b4 {
  background: #fb65a9;
}

.b5 {
  background: #5f5561;
}

/* 10. 使用mixmin + @countent 來設計 RWD__________________________________*/
#section10 .container {
  width: 100%;
}

#section10 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section10 .col {
  width: 100%;
  padding: 15px;
  border: 1px solid black;
}

#section10 .col + .col {
  margin-top: 20px;
}

@media (min-width: 576px) {
  #section10 .container {
    width: 75%;
  }
  #section10 .col {
    width: 50%;
  }
  #section10 .col {
    width: 75%;
  }
  #section10 .col + .col {
    margin-top: 0px;
  }
}

@media (min-width: 768px) {
  #section10 .col {
    width: 33.33333;
  }
}

@media (min-width: 992px) {
  #section10 .col {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  #section10 .col {
    width: 20%;
  }
}

@media (min-width: 1400px) {
  #section10 .col {
    width: 10%;
  }
}

/* nth(list, index)內建函式，取出list裡面的item值 */
.list {
  width: 100px;
  width: 200px;
  width: 300px;
}

/* index(list, value)內建函式，取出索引值*/
.index {
  line-height: 1;
  line-height: 2;
  line-height: 3;
}

/* length($list)內建函式，取出索引值 */
.length {
  z-index: 3;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.each-bg-red {
  background-color: red;
}

.each-bg-green {
  background-color: green;
}

.each-bg-blue {
  background-color: blue;
}

/* Map */
.bg-primary {
  background-color: red;
}

.bg-secondary {
  background-color: green;
}

.bg-waring {
  background-color: blue;
}

/* .map-keys($map),對 map 物件取出 key 變成一組 list */
.map-keys {
  color: size1, size2, size3;
}

.map-values {
  color: 0 0 10px black, 0 0 20px black, 0 0 30px black;
}

.w1 {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.w2 {
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

.w3 {
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
}

.btn-default {
  width: 100px;
  height: 100px;
}

.btn-box1 {
  width: 200px;
  height: 200px;
}

.btn-box2 {
  width: 300px;
  height: 300px;
}
